body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
    font-family: 'Zen Kaku Gothic New', system-ui;
}

header, main {
    padding-inline: 2rem;
}

main {
    padding: 0;
    padding-inline: 2rem;
}


header, footer {
    background-color: rgb(243, 237, 220);
    color: #000000;
    a {
        color: inherit

    }
}

/* all pages - header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0rem;
    
    h1 {
        font-weight: 200;
        margin: 0;
    }

    nav {
        display: flex;
        gap: 2rem;

        a {
            text-decoration: none;
            padding: 0.25rem 0.5rem;
        }
        
    }
}

.logout {
    color: #000000;
}



/* all pages - footer info & links */
.footer {
    background-color: rgb(8, 7, 16);
    color: #ffffff;
    padding: 4rem 0 4rem 0;
    width: 100%;
    height: 28vh;
    margin: 0 auto;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-col {
    display: flex;
    flex-direction: column;
    min-width: 220px;
}

.footer-col h3 {
    margin-bottom: 15px;
}

.footer-col p {
    margin: 5px 0;
    line-height: 1.6;
}

.footer-col ul {
    flex: 1;
    list-style: none;
    padding: 0;
    margin-top: 3px;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-col ul li a {
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
}





/* all pages - links to pages */
.topnav {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(243, 237, 220);
    display: flex;
    z-index: 10;
}


.topnav button {
    position: relative;
    padding: 19px 17px;
    border: none;
    background-color: rgb(189, 181, 162);
}


.topnav li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    
}

.dropbtn {
    display: none;
    background-color: rgb(189, 181, 162);
    border: none;
    padding: 14px 16px;
    font-size: 18px;
    cursor: pointer;
}

.dropdown {
    position: relative;   
}




/* all pages - mobile menu bar */
@media screen and (max-width: 780px) {

  .topnav {
    display: none;
    position: absolute;
    flex-direction: column;
    width: 200px;
    background: rgb(243, 237, 220);
    color: red;
    z-index: 20;
  }

  .dropdown:hover .topnav {
    display: flex;
  }

  .dropbtn {
    display: block;
  }
}




/* home page content */

h1 {
    text-align: center;
}

.logo_img{
    padding: 30px;
    width: 250px;
}

.container-img {
    display: flex;
    width: 97%;
    margin: 0 auto;
    position: relative;
}

.hero_img {   
    gap: 0;
    margin: 0 auto;
    position: relative; 
    max-width: 100%;
    height: 70%;
    width: 100%;
    height: min(90vh, 2460px); 
    z-index: 0;
}


.container-img h2 {
    position: absolute;
    top: 0%; 
    left: 0;
    color: #ddd;
    font-size: 8rem;  
    width: 100%;      
    padding: 0 20px;  
    z-index: 2;
}

.container-img h3 {
    position: absolute;
    bottom: 7%; 
    left: 1%;
    color: #ddd;
    font-size: 3rem;  
    width: 100%;      
    padding: 0 20px;  
    z-index: 2;
}

button.learn {
    position: absolute;
    z-index: 3;
    font-size: 2rem; 
    padding: 0 20px;  
    bottom: 5%; 
    left: 2%;
    padding: 6px 15px;
    border: none;
    border-radius: 6px;
    background:rgb(231, 201, 168);
    color: #111;
    cursor: pointer;
}




/* filters */
.shop-layout{
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 15px;
    padding: 20px;
    align-items: start;
}

.filters {
    border-right: 1px solid #ddd;
    padding-right: 10px;
    top: 0px;
    height: fit-content;
}

.filters label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 6px;
    font-size: 20px;
    cursor: pointer;
    color: #555;
}

.filters input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.filters select {
    width: 100%;
    margin-top: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 20px;
}

.filters button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #2e7d32;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.filters button:hover {
    background-color: #1b5e20;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3px;
    width: 100%;
}

.product {
    display: flex;
    flex-direction: column; /* stack image + text */
    align-items: center;
    text-align: center;
    border: 1px solid #eee;
    padding: 10px;
}

.product img {
    width: 60%;
    height: 80%;
    object-fit: cover;
}

.product-info {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.buttoncontainer {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
    width: 100%;
}

.addtocart {
    background-color: #2f3642;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.add-product {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
    width: 100%;
}




/* flash message */
button,
input {
    font-size: inherit;
}

aside#flash {
    background: rgb(232, 217, 185);
    color: rgb(0, 0, 0);
    position: fixed;
    top: 5rem;
    right: 0;
    padding-inline: 2rem;
    font-size: 1.2em;
    translate: calc(100% - 1rem);
    transition: translate 200ms;
    animation: flash 2s;
    z-index: 15;
    &:hover {
        translate: none;
        z-index: 15;
    }
}

@keyframes flash {
    10%, 90% {
        translate: none;
    }
}






/* login & register */
form {
    display: grid;
    grid-template-columns: auto 1fr;
    p.error {
        margin: 0;
        grid-column: span 2;
        color: red;
        text-align: left;
        font-size: 0.9em;
    }
}

form input{
    width:400px;
    padding:18px;
    padding:13px;
    margin:15px 0;
    border:1px solid #dcdcdc;
    font-size:16px;
    color:#333;
    outline:none;
    box-sizing:border-box;
}


form.auth {
    gap: 0.5rem;
    place-self: center;
    padding: 1rem;

    button {
        grid-column: 1;
    }
}

.center {
    text-align: center;
}




/* form new item*/
form.new-item {
    gap: 0 0.5rem;
    place-self: start;
    padding: 1rem;
    background: #ddd;
    border: 0.5px solid black;
}




/* cart page */
.cart-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  padding: 40px;
}

.cart-left h2 {
  margin-bottom: 20px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.item-box {
  width: 150px;
  height: 120px;
  background: #ccc;
}

.item-details {
  flex: 1;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

.quantity button {
  width: 30px;
  height: 30px;
  border: none;
  background: #ddd;
  font-size: 18px;
  cursor: pointer;
}

.quantity input {
  width: 50px;
  height: 30px;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 16px;
}

.address {
  margin-top: 60px;
}

.address a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: underline;
}

.address-card label {
    display: block;
    cursor: pointer;
}

.cart-right h2 {
  margin-bottom: 20px;
}

.summary-box {
  height: 200px;
  background: #ddd;
  margin-bottom: 20px;
  padding: 20px;
}

.order-btn,
.back-btn {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  background: #bbb;
  cursor: pointer;
  font-size: 16px;
}

.order-btn {
  background: #aaa;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

.address-card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    position: relative;
}

.address-label {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    cursor: pointer;
}

.address-label input {
    margin-top: 5px;
}

.address-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.default {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #4caf50;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 5px;
}

.address-actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.btn {
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    background: #333;
    color: white;
    cursor: pointer;
    font-size: 13px;
}

.btn:hover {
    background: #111;
}

.btn.delete {
    background: #e53935;
}

.checkout-form button {
    font-size: 20px;
    margin-top: 15px;
}





/* about page */

.container-img2 {
    margin: 0 auto;
    position: relative;
}

.story-img {   
    width: 100%;
    height: 90vh;
    object-fit: cover; 
    z-index: 0;
}

.container-img2 h1 {
    position: absolute;
    left: 50%;
    top: 25%;
    font-size: 8rem;
    transform: translateX(-50%);
    text-align: center;
    color: #ddd;
}

.container-img2 h2 {
    position: absolute;
    left: 50%;
    top: 48%;
    font-size: 3rem;
    font-size: 3rem;
    transform: translateX(-50%);
    text-align: center;
    color: #ddd;
}

.about-h2 {
    text-align: center;
    font-size: xx-large;
    padding: 5%;
}

.about {
    display: flex;
    justify-content: space-evenly;       
    margin: 0 auto;
    gap: 200px;
    flex-wrap: wrap;
    margin-top: 40px;
    padding: 5rem;
    flex-direction: row;
    background-color: rgb(182, 218, 185);
}

.about p {
    font-size: 30px;
    padding: 30px;
}

.about-img {
    width: 600px;
    height: 900px; 
}

.content {
    width: 700px;
    height: auto;
    background-color: white;  
    padding: 20px;
    border-radius: 30px;       
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
    margin: auto;
}

.icon {
    width: 90px;
    height: auto;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 140px;
    padding: 60px;
    margin: 80px auto;
}

.text {
    text-align: center;
}

.text h3 {
    margin: 0;
    font-size: 27px;
}

.text p {
    margin: 3px 0 0;
    font-size: 23px;
    color: #555;
}

.feature {
    display: grid;
    grid-template-columns: 170px 1fr;
    align-items: center;
    width: 600px;
    gap: 40px;
}



/* contact page */

.contact {
  max-width: 400px;
  margin: auto;
}

input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  background: green;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
}
